@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url(https://cdn.theatlantic.com/thumbor/bqwpEeaKFLgnkC0MUZcQGVA0Cpg=/1041x0:2447x1406/1080x1080/media/img/mt/2020/12/72775b407192b21eed14a430ce2c4c95_4096x1716_52a62062/original.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(132, 156, 173);
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

h1 {
  text-align: center;
}

.scoreHeader {
  padding: 20px;
}

.scoreHeader h3 {
  padding-right: 10px;
}

.scoreBoard {
  margin-top: 50px;
  padding: 20px;
}

.individualScores {
  padding: 10px;
}

.lst-sty {
  color: black;
  font-size: 25px;
  font-weight: 400;
  padding: 4px;
}

.lst-sty:nth-of-type(even) {
  background-color: rgba(189, 186, 186, 0.623);
}

.displayedScores {
  border: 1px solid black;
  list-style-type: none;
  width: 40%;
}

.userInput {
  position: absolute;
  top: 18%;
  left: 60%;
  width: 30pc;
}

.userInput h3 {
  padding: 20px 0;
}

.form input {
  margin: 7px 0;
  padding: 7px;
  border: 1px solid black;
  background-color: rgba(97, 97, 163, 0.445);
  outline: none;
}

.form input::placeholder {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.min-wid {
  width: 5pc;
  position: relative;
  margin-left: 10pc;
  box-shadow: 4px 5px 0 1px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 4px 5px 0 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 4px 5px 0 1px rgba(0, 0, 0, 0.8);
  background-color: rgba(97, 97, 163, 0.445);
  border-radius: 30px;
}

input:hover,
.min-wid:hover {
  transform: scale(1.1);
}
